.main-div {
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
    text-align: center;
    padding-top: 10px;
    color: grey;
    border-radius: 10px;
  }
  
  #div1 {
      background-color: #00B0B9;
  }
  #div2 {
      background-color: #F3EA5D;
  }
  #div3 {
      background-color: aqua;
  }
  #div4 {
      background-color: #EADA24;
  }
  #div5 {
      background-color: aquamarine;
  }
  
  /* Safari 4.0 - 8.0 */
  #div1 {-webkit-animation-timing-function: linear;}
  #div2 {-webkit-animation-timing-function: ease;}
  #div3 {-webkit-animation-timing-function: ease-in;}
  #div4 {-webkit-animation-timing-function: ease-out;}
  #div5 {-webkit-animation-timing-function: ease-in-out;}
  
  /* Standard syntax */
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}
  #div3 {animation-timing-function: ease-in;}
  #div4 {animation-timing-function: ease-out;}
  #div5 {animation-timing-function: ease-in-out;}
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
  }
  
  .header {
      width: 100%;
      position: fixed;
      background-color: white;
      color: #53565A;
      border-bottom-style: solid;
      border-color: #00B0B9;
      border-width: 2px;
      height: 90px;
  }

  .heading {
    margin-top: 20px;
    margin-left: 15px;
  }