  .header {
      width: 100%;
      background-color: white;
      color: #53565A;
      border-bottom-style: solid;
      border-color: #00B0B9;
      border-width: 2px;
      height: 90px;
  }

  .heading {
    margin-top: 50px;
    text-align: center;
    font-family: 'Poiret One', cursive;
  }

  #marine {
      margin-top: 100px;
      font-size: 40px;
      text-align: center;
      color: #53565A;
      font-family: 'Montserrat', sans-serif;
  }


  .footer {
    background-color: #EADA24;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px;
  }

  .copyright {
    font-family: 'DM Sans', sans-serif;
    color: #53565A;
    font-size: 13px;
  }

  #icreate {
    font-size: 35px;
    color: #53565A;
    font-family: 'Poiret One', cursive;
  }

  @-webkit-keyframes icreate {
    0%   {left:0px; top:0px;}
    100% {left: 100px;}
}

  #work, #about {
    width: 200px;
    height: 200px;
    background: #00B0B9;
    border-radius: 50%;
    border-style: solid;
    border-color: #F3EA5D;
    position: relative;
    text-align: center;
    padding-top: 70px;
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
    margin-left: 150px;
    color: #53565A;
    float: left;
    display: inline;
    -webkit-animation-name: work;
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: work;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  }

  @-webkit-keyframes work {
      from {background-color: #00B0B9;}
      to {background-color: #F3EA5D;}
  }
  
#about {
    background: #F3EA5D;
    margin-left: 700px;
    border-style: solid;
    border-color: #00B0B9;
    -webkit-animation-name: work;
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: about;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes about {
    from {background-color: #F3EA5D;}
    to {background-color: #00B0B9;}
}

p {
    clear:both;
    text-align: center;
    color: #53565A;
    font-size: 20px;
    margin-top: 15px;
    font-family: 'DM Sans', sans-serif;
}

#github, #linkedin, #email {
    width: 50px;
    height: 50px;
    float: right;
    margin: 0px;
    padding-bottom: 25px;
    padding-right: 25px;
}


#myimage {
    width: 200px;
    height: 276px;
    margin-left: 100px;
    float: left;
}

p:hover {
    background-color: #F3EA5D;
}

  /* #triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #F3EA5D;
    text-align: justify;
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
    color: #53565A;
    position: relative;
    margin-left: 600px;
    /* margin-bottom: 20px; */
    /* float: left; */
    /* display: inline;

  } */ */
